html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #222120;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #222120;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin: 0;
    padding: 0;
    background-color: #fef8f5;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
}

main {
    min-height: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    border: 2px solid #7a6960;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    flex-grow: 1;
    margin-left: 10dvh;
    margin-right: 10dvh;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

footer {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #7a6960;
    background-color: #f8f8f8;
    box-sizing: border-box;
    margin-top: auto;
    flex-grow: 0;
}

#caja {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: center;
    padding-top: 5%;
}

input {
    padding: 8px;
    margin-top: 2%;
    font-size: 16px;
    border: 1px solid #ababab;
    border-radius: 4px;
    width: 35%;
    text-align: center;
    align-self: center;
}

#enviar {
    width: fit-content;
    margin-bottom: 2%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-self: center;
    margin-top: 4%;
}

#enviar:hover {
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

#enviar:active {
    background-color: #003d80;
    transform: scale(0.95);
}

#cajaTitulo {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #7a6960;
    height: 70px;
}

#logoUniversidad {
    width: 180px;
    height: auto;
}

#titulo {
    font-size: x-large;
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 180px;
}

#menu li {
    list-style-type: none;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: #222120;
}

#menu li a {
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-family: "Open Sans", sans-serif;
    color: #222120;
}

#menu li a:hover {
    color: #007BFF;
    text-decoration: underline;
}

#menu li a:active {
    transform: scale(0.95);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
