html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #222120;
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #222120;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin: 0;
    padding: 0;
    background-color: #fef8f5;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
}

.imagenGlosario {
    width: auto;
    height: 140px;
    border-radius: 15px;
    border: 2px solid black;
}

.cajaArticle {
    display: flex;
    justify-content: space-between;
}

.cajaArticle a {
    margin-bottom: 2%;
    margin-right: 2.5%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

main {
    flex-grow: 1;
    min-height: fit-content;
    max-height: fit-content;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    border: 2px solid #7a6960;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

main div {
    padding: 0.5%;
}

details summary {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
}

details article {
    padding-left: 1%;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 0 0 15px 15px;
}

details article p {
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0;
    text-align: justify;
    font-size: x-large;
}

footer {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #7a6960;
    background-color: #f8f8f8;
    box-sizing: border-box;
    margin-top: auto;
    flex-grow: 0;
}

#cajaTitulo {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #7a6960;
    height: 70px;
}

#logoUniversidad {
    width: 180px;
    height: auto;
}

#titulo {
    font-size: x-large;
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 180px;
}

#menu li {
    list-style-type: none;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: #222120;
}

#menu li a {
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-family: "Open Sans", sans-serif;
    color: #222120;
}

#menu li a:hover {
    color: #007BFF;
    text-decoration: underline;
}

#menu li a:active {
    transform: scale(0.95);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
