html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: #222120;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #222120;
    opacity: 0;
    height: 100vh;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin: 0;
    padding: 0;
    background-color: #fef8f5;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    overflow-y: scroll;
}

main {
    margin-left: 10dvh;
    margin-right: 10dvh;
    flex-grow: 1;
}

main p {
    text-align: justify;
    font-size: x-large;
}

#nombres {
    text-align: center;
    font-size: larger;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

footer {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #7a6960;
    background-color: #f8f8f8;
    box-sizing: border-box;
    margin-top: auto;
    flex-grow: 0;
}
#primeraSeccion {
    margin-top: 30px;
    background-color: #fef8f5;
    flex: 1;
    border-bottom: 1px solid #777;
}

#primeraSeccion p {
    margin-top: 0px;
    margin-bottom: 5%;
    padding-bottom: 10px;
    text-align: justify;
    line-height: 1.7;
    color: #5c5c5c;
    border-bottom: 1px solid #777;
}

.subtitulo {
    text-align: center;
}

.titulo {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.centerText {
    text-align: center;
}

.secccion {
    border-bottom: 1px solid #777;
}

#diagramaEspinaPescado {
    height: auto;
    width: 90%;
    margin-left: 5%;
}

.encuesta {
    height: auto;
    width: 90%;
    border-radius: 25px;
    border: 4px solid #000000;
    margin-left: 5%;
}

.componentes {
    height: auto;
    width: 60%;
    border-radius: 25px;
    border: 4px solid #000000;
    margin-left: 20%;
}

#contenido a {
    color: #222120;
    text-decoration: none;
}

#contenido a:hover {
    color: #007BFF;
    text-decoration: underline;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:visited {
    color: #222120;
}

.indice {
    padding: 5px;
    display: inline;
    border-radius: 3px;
}

.boton {
    text-decoration: none;
}

.boton:hover {
    color: #007BFF;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    text-decoration: underline;
}

#cajaTitulo {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #7a6960;
    height: 70px;
}

#logoUniversidad {
    width: 180px;
    height: auto;
}

#titulo {
    font-size: x-large;
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 180px;
}

#menu li {
    list-style-type: none;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: #222120;
}

#menu li a {
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-family: "Open Sans", sans-serif;
    color: #222120;
}

#menu li a:hover {
    color: #007BFF;
    text-decoration: underline;
}

#menu li a:active {
    transform: scale(0.95);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
